body {
    background-color: #ff0000;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    color: #5e0505;
    font-size: 45px;
    margin-top: 40px;
}

h2 {
    color: #a8a8a8;
    font-size: 30px;
}

iframe {
    max-width: 100%;
    border-radius: 20px;
}

.palco {
    background: #3a3a3a;
    padding: 20px;
    border-radius: 30px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
}